@import '@/styles/variables.scss';

.form {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    // border: 1px solid red;
}

.inputs {
    width: 720px;
    display: flex;

    .label {
        margin-bottom: 4px;
        margin-left: 6px;
    }

    .input {
        display: flex;
        flex-direction: column;
        color: $cinza-600;
        margin-left: 8px;
        margin-right: 8px;
        // border: 1px solid red;
    }

    .preencher {
        flex: 1;
    }

}

.botao-line {
    margin-top: 24px;
    display: flex;
    flex-direction: row-reverse;
}