@import '@/styles/variables.scss';

.container {
    border-radius: 18px;
    padding: 2px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.amarelo {
    background-color: $amarelo;
}

.verde1 {
    background-color: $verde-claro;
}

.verde2 {
    background-color: $verde;
}