.label {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  border-bottom: 1px solid white;
  padding: 4px;

  .icon {
    margin-right: 8px;
  }

  .input {
    background: none;
    border: none;
    font-size: 16px;
    color: white;
    flex: 1;
  }

  .input:focus {
    border: none;
    outline: none;
  }
}