@import '@/styles/variables.scss';

.form {
  display: flex;
  flex-direction: column;
  margin-top: 2px;
  margin-bottom: 25px;
}

.inputs {
  display: flex;
  width: 660px;

  .input {
    display: flex;
    flex-direction: column;
    margin-right: 12px;
  }

  .input:last-child {
    margin-right: 0px;
  }

  .label {
    text-align: left;
    color: $cinza-600;
    margin-bottom: 4px;
    margin-top: 20px;
  }
}

.preencher {
  flex: 1;
}

.container-concluir {
  margin-top: 12px;
  display: flex;
  justify-content: flex-end;
}

.concluir {
  margin-left: 0;
}

.conteudo {
  background: none;
  border: none;
  font-size: 16px;
  color: $cinza-600;
  font-size: 12px;
  text-align: justify;
  text-indent: 12px;
}

.arquivos {
  display: flex;
  flex-wrap: wrap;
}

.arquivo {
  margin-right: 8px;
  margin-top: 2px;
}

.subtitulo {
  text-align: left;
  color: $cinza-600-hover;
  font-size: 14px;
  margin-top: 18px;
}

.linha-submit {
  display: flex;
  margin-top: 36px;
  justify-content: flex-end;
}

.botao:not(:last-child) {
  margin-right: 12px;
}