@import '@/styles/variables.scss';

.desc {
  color: $cinza-600;
  margin-top: 12px;
  margin-bottom: 12px;
}

.botao-container {
  display: flex;
  width: 100%;
}

.botao {
  flex: 1;
}

.excluir {
  margin-right: 8px;
  background-color: $vermelho;
  color: white;
}

.excluir:hover {
  background-color: red;
}

.botao-container-mobile {
  flex-direction: column;
  gap: 12px;

  .excluir {
    margin: 0;
  }
}