@import '@/styles/variables.scss';

.botao {
  padding: 7px;
  display: flex;
  border-radius: 12px;
  min-width: 120px;
  border: none;
  height: flex;
  width: flex;

  .children {
    flex: 1;
    text-align: left;
    display: flex;

  }

  .icon {
    height: 16px;
    font-weight: bold;
  }
}

.claro {
  background-color: $cinza-300;
  color: $cinza-600;
}

.claro:hover {
  background-color: $cinza-300-hover;
  cursor: pointer;
}

.noturno {
  background-color: $cinza-600;
  color: $cinza-300
}

.noturno:hover {
  background-color: $cinza-600-hover;
  cursor: pointer;
}