

.bell-icon-dropdown {
  position: relative;
  display: inline-block;

  .fa-bell {
    font-size: 1.5rem;
    cursor: pointer;
  }

  .dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
    min-width: 120px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 0.5rem 0;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        padding: 0.5rem;
        cursor: pointer;

        &:hover {
          background-color: #f2f2f2;
        }
      }
    }
  }
}