@import '@/styles/variables.scss';

.container {
  height: 100%;
  width: calc(100% - 2px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  // border: 1px solid red;
}

.container-button {
  display: flex;
  max-width: 316px;
  justify-content: center;
  flex-wrap: wrap;
  background-color: $black-40;
  backdrop-filter: $blur;
  padding: 16px;
  border-radius: 16px;
  gap: 16px;
  max-height: calc(100vh - 270px);
  overflow: auto;
}

.children-button {
  width: fit-content;
}

.welcome {
  text-align: center;
}