@import '@/styles/variables.scss';

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
  }
  
  /* Mostra o dropdown quando o botão é clicado */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Estilo do botão */
  .btn {
    background-color: none;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  /* Estilo das opções do dropdown */
  .dropdown-content a {
    color: $cinza-200;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Estilo das opções do dropdown quando o mouse está sobre elas */
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  
  