@import '@/styles/variables.scss';

.icone {
  font-size: 20px;
  color: $ciano-300;
  position: relative;
}

.icone-hover:hover {
  color: $ciano-400;
}

.container {
  background-color: $cinza-600;
  padding: 8px;
  border-radius: 12px;
  position: absolute;
  right: 0;
  top: 36px;
  font-size: 16px;
  color: white
}