@import '@/styles/variables.scss';

$icon-size: 16px;

.container {
  position: relative;
  width: fit-content;
  padding: 0;
  margin: 0;
}

.botao {
  padding: 9px;
  display: flex;
  align-items: center;
  min-width: 155px;
  border: none;
  background-color: $cinza-300;
  border-radius: 12px;
  color: $cinza-600;

  .children {
    flex: 1;
    padding: 0;
    margin: 0;
    margin-right: 12px;
    text-align: left;
    justify-content: center;
  }

  .arrow {
    height: 16px;
    font-weight: bold;
  }
}

.icon {
  font-size: $icon-size;
  margin-right: 8px;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -2px;
    font-size: calc($icon-size + 2px);
  }
}

.botao:hover {
  cursor: pointer;
}

.botao-hover:hover {
  background-color: $cinza-300-hover;
}

.list {
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 1;
  margin-top: 8px;
  list-style: none;
  color: $cinza-600;
  border-radius: 12px;
  width: 100%;
  overflow: hidden;

  li {
    padding: 0;
    margin: 0;
    border: none;
    display: flex;
    align-items: center;
    background-color: $cinza-300;
    padding: 8px;
    width: 100%;
    text-align: left;

  }
}

li:hover {
  background-color: $cinza-300-hover;
  cursor: pointer;
}