@import '@/styles/variables.scss';

.container {
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: $blur;
  margin: 18px auto;
  width: calc(100% - 24px);
  max-width: 420px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 18px;
}

.back-button {
  width: fit-content;
  background: none;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 0;
}

.header {
  text-align: center;
}

.notifs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}