:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html {
  height: 100%;
  margin: 0;
  background-color: #0E0E19;
  background-image: url('assets/background.png');
  background-position: center center;
  background-size: cover; 
  color: white;
  font-size: 16px;
}

@media (min-width: 769px) {
  #mobile {
    display: none;
  }
}

@media (max-width: 768px) {
  #desktop {
    display: none;
  }
}