:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  background-color: #0E0E19;
  background-image: url('assets/background.png');
  background-position: center top;
  background-size: cover;
  color: white;
  font-size: 16px;
}