@import '@/styles/variables.scss';

.form {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    margin-bottom: 24px;
}

.inputs {
    display: flex;
    width: 480px;

    .input {
        display: flex;
        flex-direction: column;
        margin-right: 12px;
    }
    .input:last-child {
        margin-right: 0px;
    }
    .label {
        text-align: left;
        color: $cinza-600;
        margin-bottom: 4px;
    }
}

.preencher {
    flex: 1;
}

.concluir {
    position: absolute;
    right: 38px;
    bottom: 12px;
}