@import '@/styles/variables.scss';

.componente {
  display: flex;
  align-items: center;
  height: none;
  width: none;
  font-family: sans-serif;
  font-size: small;
  flex-direction: row; // alinha os componentes em linha
  justify-content: flex-start; // alinha os componentes à esquerda


 
}

.botao {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 13px;
  border-radius: 8px;
  background-color: $cinza-300;
  color: $cinza-600;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  max-width: 50%;

  &:hover {
    background-color: $cinza-300-hover;
    cursor: pointer;
    
  }
}
.children {
  margin-right: 16px;
  
}

.closeIcon {
  
  display: flex;
  
}
