@import '@/styles/variables.scss';

.form {
  display: flex;
  flex-direction: column;
  margin-top: 2px;
  margin-bottom: 25px;

}

.inputs {
  display: flex;
  width: 660px;


  .input {
    display: flex;
    flex-direction: column;
    margin-right: 12px;
  }

  .input:last-child {
    margin-right: 0px;
  }

  .label,
  .avaliacao-titulo {
    text-align: left;
    color: $cinza-600;
    margin-bottom: 4px;
    margin-top: 4px;
  }

}

.avaliacao-titulo {
  font-size: 20px;
  margin-bottom: 8px;
  margin-top: 16px;
}

.preencher {
  flex: 1;
}

.container-concluir {
  margin-top: 12px;
  display: flex;
  justify-content: flex-end;
  // border: 1px solid red;

}

.concluir {
  margin-left: 0;
}


.conteudo {
  background: none;
  border: none;
  font-size: 16px;
  color: $cinza-600;
  font-size: 12px;
  text-align: justify;
  text-indent: 12px;
}

.arquivos {
  display: flex;
  flex-wrap: wrap;
}

.arquivo {
  margin-right: 8px;
  margin-top: 8px;
}

.avs {
  display: flex;
}

.av {
  margin-right: 8px;
}

.av-completa {
  padding-top: 8px;
  text-align: left;
}

.nota {
  display: flex;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  align-items: center;

  .label {
    margin: 0;
    margin-right: 6px;
    margin-bottom: 4px;
  }
}

.comentario {
  display: flex;
  flex-direction: column;
}

.linha-submit {
  display: flex;
  margin-top: 36px;
  justify-content: flex-end;
}

.botao:not(:last-child) {
  margin-right: 12px;
}