@import '@/styles/variables.scss';

.notif {
  width: 20px;
  height: 20px;
  font-size: 12px;
  background-color: $vermelho;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}