$ciano-300: #54C5CE;
$ciano-400: #8CEFF6;

$verde: #58B92B;
$verde-claro: #68e22f;
$verde-300: #9CDC7E;
$verde-100: #D1FFBC;
$vermelho: #EA4F4F;
$amarelo: #D7C20A; 
$azul1: #8BA0EC;
$azul2: #3787ff;

$cinza-200: #D9D9D9;
$cinza-400: #777575;
$cinza-300: #C8C8C8;
$cinza-300-hover: #adadad;
$cinza-600: #313131;
$cinza-600-hover: #3d3d3d;

$black-40: #00000066;

$blur: blur(4px);