@import '@/styles/variables.scss';

.botao {
    padding: 8px;
    display: flex;
    border-radius: 12px;
    min-width: 155px;
    border: none;
    .children {
        flex: 0;
        padding: 0;
        margin: 0;
        text-align: left;
    }
    .icon {
        height: 16px;
        font-weight: bold;
    }
}

.claro {
    background-color: $cinza-300;
    color: $cinza-600;
}

.claro:hover {
    background-color: $cinza-300-hover;
    cursor: pointer;
}

.noturno {
    background-color: $cinza-600;
    color: $cinza-300
}

.noturno:hover {
    background-color: $cinza-600-hover;
    cursor: pointer;
}