@import '@/styles/variables.scss';

.aviso {
  color: $cinza-600;
  margin: 20px 0px;
}

.aviso-mobile {
  text-align: left;
}

.aviso-mobile, .aviso-mobile div, .dropdown {
  width: 100%;
}

.botoes {
  display: flex;
  margin-top: 10px;
  width: 100%;
}

.botoes-mobile {
  flex-direction: column;
  gap: 12px;

  .confirmar {
    margin: 0;
  }
}

.botao {
  flex: 1;
}

.confirmar {
  margin-left: 12px;
  background-color: $verde;
  color: white;
}

.confirmar:hover {
  background-color: $verde-claro
}

.erro {
  border: 2px solid $vermelho;
}